*workspace
*.workspace.user
*.user
build/
devle/
logs/

build/
devel/

src/ik_walk/
src/tune_walk/

src/motion_operator/Init/init.h

src/motion_operator/Work/BACKUP.h
src/motion_operator/Work/FRONTUP.h
src/motion_operator/Work/LEFTUP.h
src/motion_operator/Work/RIGHTUP.h
src/motion_operator/Work/KICKR.h
src/motion_operator/Work/KICKL.h

robocup.workspace.user
src/CMakeLists.txt
src/robot_config.h
